.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0rem 1rem 0rem;
}
.edit-btn{
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.del-btn{
    opacity: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.card img {
    transition: 0.3s ease;
}

.card:hover img {
    opacity: 0.5;
}

.card:hover .edit-btn {
    opacity: 1;
}

.card:hover .del-btn {
    opacity: 1;
}