*{
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
/* 
.edit-btn{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 */